body {
  padding: 0;
  margin: 0;
  font-family: arial,sans-serif;

}

html { 
  background: url(../img/bevanda.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
  width : 610px;
  margin: auto; 
  margin-left: auto;
  margin-right: auto;
}
#header {
   width : 100%;
   height: 70px;
   opacity:0.5;
   background: black; 
   margin: 0;
   color: white;
   background-repeat:no-repeat;
   background-color: #221414;
}

#header h2 {
  margin: 0;
  font-size: 50px;
  padding-left: 20px;
}

#maincontent {
  min-height: 150px;
  opacity:0.9;
  padding-bottom: 20px;
  padding-top : 1px;
  padding-left: 20px;
  padding-right: 15px;
  width : 650px;
  margin-top: 80px;
  background: #e6e6e6; 
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.4), inset 0px 1px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.4), inset 0px 1px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.4), inset 0px 1px 0px rgba(0,0,0,0.15);
}



#searchButton {
  position:relative;
  float: right;
  bottom: 100px;
  right: -20px;
  opacity:1;
  color : white;
  text-decoration: none; 
  font-size: 20px;
  font-style: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:50px;
  padding-right:50px;
  background:#48b309;
  border-radius:5px;
   color:#fff;
  font-family:'Helvetica Neue',sans-serif;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #459A00
  background-image: linear-gradient(bottom, rgb(51,176,66) 3%, rgb(58,209,58) 11%, rgb(36,171,56) 51%);
  background-image: -o-linear-gradient(bottom, rgb(51,176,66) 3%, rgb(58,209,58) 11%, rgb(36,171,56) 51%);
  background-image: -moz-linear-gradient(bottom, rgb(51,176,66) 3%, rgb(58,209,58) 11%, rgb(36,171,56) 51%);
  background-image: -webkit-linear-gradient(bottom, rgb(51,176,66) 3%, rgb(58,209,58) 11%, rgb(36,171,56) 51%);
  background-image: -ms-linear-gradient(bottom, rgb(51,176,66) 3%, rgb(58,209,58) 11%, rgb(36,171,56) 51%);
 
}

#searchButton:hover {
  background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
  background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
  background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
  background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
  background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
 
 
}

#ingridentsList {
  list-style: none;
  overflow: hidden;
  margin-top : 20px;
  margin-bottom:40px;
  padding-left: 2px;
  height: 60px;
  border: 1px dotted grey;
} 

#selectIng {
  width: 400px;
  height: 30px;
  maring:0px;
  padding:0px;
  font-size: 20px; 
}

#ingridentsList li {
  float:left;
  font-size: 14px;
  margin-right: 10px; 
  border : 1px solid grey;
  padding-left: 8px;
  padding-right: 8px; 
  padding-top: 4px; 
  padding-bottom: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
} 


#ingridentsList .remove-icon {
  position: relative;
  left: 4px;
  bottom:4px;

}
#drinkResult {
  margin-top: 120px;
}


.drink {
  width: 650px;
  margin:auto;
  overflow: hidden;
  border: 1px dotted grey;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.drink img {
  float: left;
  overflow: hidden;
}

.hit {
  background-color: green;
  border-radius: 2px;
  padding-left:4px;
  padding-right: 4px;
}

.miss {
  background-color: red;
  border-radius: 2px;
  padding-left:4px;
  padding-right: 4px;
}